.side-profile {
  background-color: #88a372;
  height: 100vh;
  width: 100%;
}

.settings-input {
  background-color: #9fbf85;
  height: 100vh;
  width: 100%;
  padding-right: 0%;
  margin-right: 0%;
}

.title {
  color: white;
}

.form-control {
  width: 80%;
}

.secondary-btn {
  background-color: #ebb707;
}
