.btn-main {
  background-color: var(--secondary-color);
  border-color: white;
  color: white;
  opacity: 1;
}

.left-side {
  background-color: #9fbf85;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.right-side {
  height: 100vh;
  width: 100%;
}

.image {
  height: 100vh;
  width: 100%;
  background-color: #9fbf85;
}

.input-post {
  height: 100vh;
  width: 100%;
  background-color: #9fbf85;
}

.btn-sign-in {
  background-color: grey !important;
  border: none !important;
  color: white;
  width: 70%;
}

.bi {
  font-size: 2rem;
}

.btn-primary {
  border-radius: 20px !important;
}
