.index {
  background-color: #9fbf85;
}

.main-card,
.active-postings-card {
  border-radius: 30px !important;
}

.card-retrieval {
  background-color: #dd9d03 !important;
  border: none !important;
  border-radius: 30px !important;
}

.card-retrieval-items {
  border-radius: 30px !important;
}

.active-postings-card {
  background-color: #a95a00 !important;
  border: none !important;
}

.image-posting-item {
  border-radius: 5%;
}

.retrieval-info {
  font-size: 13px;
}

.retrieval-info-username {
  font-size: 13px;
}

.btn:active,
.btn:focus {
  outline: 0 !important;
  border: none;
  box-shadow: none !important;
}
